html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Start*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
}

#app {
  font-family: 'Noto Sans TC', sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#map {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.slide-nav {
  width: 350px;
  height: 90vh;
  padding: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1e3c72), color-stop(1%, #1e3c72), to(#2a5298));
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  border-radius: 20px;
  -webkit-box-shadow: #000 inset 0 0 15px 0px;
          box-shadow: #000 inset 0 0 15px 0px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 20px;
  right: 20px;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slide-nav .toggle {
  content: '';
  position: absolute;
  -webkit-box-shadow: #000 inset 0 0 5px 0px;
          box-shadow: #000 inset 0 0 5px 0px;
  top: 50%;
  left: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transform: translateX(-98%);
          transform: translateX(-98%);
  border-radius: 20px 0 0 20px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1e3c72), color-stop(1%, #1e3c72), to(#2a5298));
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.slide-nav .toggle ion-icon {
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slide-nav .toggle:hover ion-icon {
  color: #55efc4;
}

.slide-nav .toggle .iconRotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 1;
}

.slide-nav .title {
  padding: 5px;
  font-size: 1.7em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-nav .p-number {
  padding: 5px;
  color: #fff;
  font-size: 1.3em;
}

.toggleNav {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.area {
  text-align: center;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  font-family: 'Noto Sans TC', sans-serif;
}

.area label {
  color: #fff;
  font-size: 1.3em;
}

.area select {
  width: 80%;
  padding: 5px;
  display: block;
  margin: 10px auto;
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  border-radius: 10px;
}

.area ion-icon {
  color: #fff;
  font-size: 1.5em;
}

.mask-list {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 5px;
  padding-left: 10px;
  overflow-y: scroll;
}

.mask-list .mask-shop {
  height: 130px;
  background-color: #fff;
  position: relative;
  padding: 7px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.mask-list .mask-shop:hover {
  background-color: #ffeaa7;
}

.mask-list .mask-shop .name {
  font-size: 1.3em;
  font-weight: bold;
}

.mask-list .mask-shop .phone {
  padding: 5px;
  font-size: 18px;
}

.mask-list .mask-shop .address {
  padding-top: 10px;
}

.mask-list .mask-shop a {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  text-decoration: none;
  color: #22a6b3;
}

.mask-list .all-mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mask-list .all-mask p {
  width: 130px;
  padding: 5px;
}

.p-mask {
  display: inline-block;
  background-color: #22a6b3;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.child {
  background-color: #ff7979;
}

.p-info h2 {
  font-size: 1.1em;
  font-weight: bold;
}

.p-info p {
  font-size: 1.1em;
}

.p-info a {
  display: block;
  text-decoration: none;
  padding-top: 10px;
}

.outStock {
  background-color: #636e72;
}

@media screen and (max-width: 769px) {
  #map {
    height: 0vh;
    width: 0%;
    position: absolute;
    z-index: -1;
    display: none;
  }
  .slide-nav {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    top: 0;
    right: 0;
  }
  .slide-nav .toggle {
    display: none;
  }
  .slide-nav .p-number {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=map.css.map */